<!doctype html>

<html>
<head>
	<title>Existing Profiles</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootswatch.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>

	<div class="top_bar">
		<div class="menu_bar">
			<div class="btn-group">
		  		<button type="button" id="home_dropdown" class="btn btn-default btn-lg" data-toggle="dropdown">
  				<span class="glyphicon glyphicon-home"></span>
				</button>
		  		<ul class="dropdown-menu" role="menu">
		    		<li><a href="/menu">Home Menu</a></li>
		    		<li><a href="/about">About</a></li>
		  		</ul>
			</div>
		</div>
		<h4 class="subtitle" id="existprof">Existing Profiles</h4>
	</div>

<div class="container">
	<ul class="nav nav-tabs ">
  		<li ><a href="/newp">New</a></li>
  		<li class="active"><a href="/existing">Existing</a></li>
  		<li><a href="/matches">Matches</a></li>
	</ul>
	<p class="user_name">Hello, User</p>
	<p>Click the list items to see the existing profiles!</p>
	<p>Click Match buttons to see matches of that profile!</p>
	<div id="existing_buttons">
		<div class="block" id="b1">
			<button type="button" id="type_btn_e" class="btn btn-info btn-lg btn-block exist_btn">Type</button>
			<button type="button" id="date_btn_e" class="btn btn-info btn-lg btn-block exist_btn">Date</button>
		</div>
		<div class="block" id="b1">
			<button type="button" id="rent_btn_e" class="btn btn-info btn-lg btn-block exist_btn">Rent</button>
			<button type="button" id="property_btn_e" class="btn btn-info btn-lg btn-block exist_btn">Property</button>
		</div>
		<div class="block" id="b1">
			<button type="button" id="address_btn_e" class="btn btn-info btn-lg btn-block exist_btn">Address</button>
			<button type="button" id="other_btn_e" class="btn btn-info btn-lg btn-block exist_btn">Other</button>
		</div>
		<div id="udata">
			  <button type="button" class="btn btn-primary" id="expire">Expire</button>
			  <button type="button" class="btn btn-primary" id="update">Update</button>
		</div>
	</div>
	<div id="existing_list">
		<div class="panel panel-info" id="panel-rentout">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Rent Out Profiles</div>
		  <!--<div class="panel-body">
		    <p></p>
		  </div>-->

		  <!-- List group -->
		  <ul class="list-group" id="listRentOut">
		    <li class="list-group-item"></li>
		  </ul>
		</div>
		<div class="panel panel-info" id="panel-rentin">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Rent In Profiles</div>
		 <!-- <div class="panel-body">
		    <p></p>
		  </div>-->

		  <!-- List group -->
		  <ul class="list-group"  id="listRentIn">
		    <li class="list-group-item" ><span class="listItems">Costa Verde Apartments</span><button class="m">Matches</button></li>
		    <li class="list-group-item" ><span class="listItems">Nobel Court</span><button class="m">Matches</button></li>
		  </ul>
		</div>
	</div>
	<div id="type_div_e">
		<form id="type_form_e" role="form" method="get" action="">
			{{#each Types}}
		   		<div class="form-group">		
		   			{{#if radio}}
		   				<label>{{label}}: </label>
		   				{{#each options}}
		   					<input type="radio" name="{{../label}}" value="{{this}}">{{this}}
		   				{{/each}}
		   			{{else}}	
		   				{{#if dropdown}}	
		   					<label>{{label}}: </label>	
		   					<select name="{{label}}">		
		   						{{#each options}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						{{else}}
							<label>{{label}}: </label>	
		   					{{#each options}}
		   						<input type="checkbox" name="{{../label}}" value="{{this}}">{{this}}<br>
		   					{{/each}}
						{{/if}}
		   			{{/if}}
		    	</div>
		    {{/each}}
	    	<input type="submit" id="type_back_e" value="Back" class="submit_e">
			<input type="submit" id="type_update_e" value="Update" class="submit_e">
		</form>
	</div>
    <div id="rent_div_e">
		<form id="rent_form_e" role="form" method="get" action="">
			{{#each Rent}}
		   		<div class="form-group">		
		   			{{#if radio}}
		   				<label>{{label}}: </label>
		   				{{#each options}}
		   					<input type="radio" name="{{../label}}" value="{{this}}">{{this}}
		   				{{/each}}
		   			{{else}}	
		   				{{#if dropdown}}	
		   					<label>{{label}}: </label>	
		   					<select name="{{label}}">		
		   						{{#each options}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						{{else}}
							<label>{{label}}: </label>	
		   					{{#each options}}
		   						<input type="checkbox" name="{{../label}}" value="{{this}}">{{this}}<br>
		   					{{/each}}
						{{/if}}
		   			{{/if}}
		    	</div>
		    {{/each}}
		    <input type="submit" id="rent_back_e" value="Back" class="submit_e">
			<input type="submit" id="rent_update_e" value="Update" class="submit_e">
		</form>
    </div>

    <div id="address_div_e">
		<form id="address_form_e" role="form" method="get" action="">
			{{#each Address}}
		   		<div class="form-group">		
		   			{{#if radio}}
		   				<label>{{label}}: </label>
		   				{{#each options}}
		   					<input type="radio" name="{{../label}}" value="{{this}}">{{this}}
		   				{{/each}}
		   			{{else}}	
		   				{{#if dropdown}}	
		   					<label>{{label}}: </label>	
		   					<select name="{{label}}">		
		   						{{#each options}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						{{else}}
							<label>{{label}}: </label>	
		   					{{#each options}}
		   						<input type="checkbox" name="{{../label}}" value="{{this}}">{{this}}<br>
		   					{{/each}}
						{{/if}}
		   			{{/if}}
		    	</div>
		    {{/each}}
		    <input type="submit" id="address_back_e" value="Back" class="submit_e">
			<input type="submit" id="address_update_e" value="Update" class="submit_e">
		</form>
    </div>

    <div id="date_div_e">
		<form id="date_form_e" role="form" method="get" action="">
			{{#each Dates}}
		   		<div class="form-group">		
		   			{{#if radio}}
		   				<label>{{label}}: </label>
		   				{{#each options}}
		   					<input type="radio" name="{{../label}}" value="{{this}}">{{this}}
		   				{{/each}}
		   			{{else}}	
		   				{{#if dropdown}}	
		   					<label>{{label}}: </label>	
		   					<select name="{{label}}">		
		   						{{#each options}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						{{else}}
							<label>{{label}}: </label>	
		   					{{#each options}}
		   						<input type="checkbox" name="{{../label}}" value="{{this}}">{{this}}<br>
		   					{{/each}}
						{{/if}}
		   			{{/if}}
		    	</div>
		    {{/each}}
		    <input type="submit" id="date_back_e" value="Back" class="submit_e">
			<input type="submit" id="date_update_e" value="Update" class="submit_e">
		</form>
    </div>

    <div id="property_div_e">
		<form id="property_form_e" role="form" method="get" action="">
			{{#each Property}}
		   		<div class="form-group">		
		   			{{#if radio}}
		   				<label>{{label}}: </label>
		   				{{#each options}}
		   					<input type="radio" name="{{../label}}" value="{{this}}">{{this}}
		   				{{/each}}
		   			{{else}}	
		   				{{#if dropdown}}	
		   					<label>{{label}}: </label>	
		   					<select name="{{label}}">		
		   						{{#each options}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						{{else}}
							<label>{{label}}: </label>	
		   					{{#each options}}
		   						<input type="checkbox" name="{{../label}}" value="{{this}}">{{this}}<br>
		   					{{/each}}
						{{/if}}
		   			{{/if}}
		    	</div>
		    {{/each}}
		    <input type="submit" id="property_back_e" value="Back" class="submit_e">
			<input type="submit" id="property_update_e" value="Update" class="update_e">
		</form>

    </div>

    <div id="other_div_e">
		<form id="other_form_e" role="form" method="get" action="">
			{{#each Other}}
		   		<div class="form-group">		
		   			{{#if radio}}
		   				<label>{{label}}: </label>
		   				{{#each options}}
		   					<input type="radio" name="{{../label}}" value="{{this}}">{{this}}
		   				{{/each}}
		   			{{else}}	
		   				{{#if dropdown}}	
		   					<label>{{label}}: </label>	
		   					<select name="{{label}}">		
		   						{{#each options}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						{{else}}
							<label>{{label}}: </label>	
		   					{{#each options}}
		   						<input type="checkbox" name="{{../label}}" value="{{this}}">{{this}}<br>
		   					{{/each}}
						{{/if}}
		   			{{/if}}
		    	</div>
			{{/each}}
	    	<input type="submit" id="other_back_e" value="Back" class="submit_e">
			<input type="submit" id="other_update_e" value="Update" class="submit_e">
		</form>

    </div>
</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/ucsdrentals.js"></script>
	<script src="js/update_form.js"></script>
	<script src="js/existingProfile.js"></script>

</body>
</html>
